.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition:  all 0.5s ease;
    
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
    margin-bottom: 40px;
}
.log{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    transition:  all 0.5s ease;
    margin-left: 20px;
    margin-top: 11px;
    width: calc(100% - 78px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    background: #1d1b31;
    z-index: -1;
}
.log img{
    width: 30px;
    margin-right: 5px;
}
.log label{
    color: #f9a826;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bolder;
}
.time{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    position: absolute;
    right: 1%;
    margin-top: 40px;
}

.sort{
  
    width: calc(100% - 78px);
    margin-left: 20px;
    padding-bottom: 10px;
    z-index: -1;
}
.sort input{
    padding-left: 10px;
    width: 570px;
    height: 35px;
    border-radius: 4px;
    border: solid #f9a826 1px;
    color: #f9a826;
}
::placeholder{
    color: #f9a826;
    font-weight: bold;
}
.sort select {
    text-align: center;
    height: 35px;
    width: 150px;
    border-radius: 4px;
    border: solid #f9a826 1px;
    color: #f9a826;
    font-weight: bold;
}
.sort select option{
    height: 50px;
}
.sort select option:hover{
    background-color: #f9a826;
    color: white;
}
.sort > button{
    font-weight: bold;
    width: 170px;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
textarea:focus, input:focus , select:focus{
    outline: none;
}
