.home_content{
    background-color: white;
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition:  all 0.5s ease;
    overflow-y: scroll;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.materiel_area{
    z-index: -1;
    margin-top: 1%;
    margin-left: 2%;
    width: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 18px;
    
    
}
.materiel_area .materiel{
    background-color:white;
    padding: 3px;
    width: 200px;
    height: 270px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.materiel_area .materiel:hover{
    transform: scale(1.02);
}
.materiel_area .materiel img{
    width: 140px;
    margin-bottom: 18px;
    margin-top: 10px;
}
.materiel_area .materiel label{
   color: #f9a826;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#f9a826;
  }
  .action{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .action button{
    width: 80px;
    height: 30px;
    background-color: #f9a826;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: solid #f9a826;
    border-radius: 6px;
    cursor: pointer;
  }
  .sort{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 78px);
    margin-left: 20px;
    padding-bottom: 10px;
    z-index: -1;
}
.sort input{
    padding-left: 10px;
    width: 62%;
    height: 35px;
    border-radius: 4px;
    border: solid #f9a826 1px;
    color: #f9a826;
    margin-right: 3px;
}
::placeholder{
    color: #f9a826;
    font-weight: bold;
}
.sort select {
    margin-right: 8px;
    text-align: center;
    height: 35px;
    width: 12%;
    border-radius: 4px;
    border: solid #f9a826 1px;
    color: #f9a826;
    font-weight: bold;
}
.sort select option{
    height: 50px;
}
.sort select option:hover{
    background-color: #f9a826;
    color: white;
}
.sort > button{
    font-weight: bold;
    width: 15%;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
textarea:focus, input:focus , select:focus ,button:focus{
    outline: none;
}

.close_button button{
    font-weight: bold;
    width: 100%;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.pop_picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop_picture img{
    width: 280px;
    margin-bottom: 3px
}
.pop_desc{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9a826;
    font-weight: bold;
}
.pop_desc label{
    font-weight: 100;
    color: black;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pic{
   
    width: 100%;
    height: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reload{
    margin-left: 6px;
    font-weight: bold;
    width: 40px;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.noData img{
    width: 15%;
    margin-top: 10%;
}
.noData{
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
