@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
}
.logo{
    width:60%;
}
.signin-text{
    font-style: normal;
    font-weight: 600 !important;

}
.form-control{
    display: block;
    width:100%;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5;
    border-color: #f9a826 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color:#495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
    margin-bottom: 20px;

}


.form-control:focus{

    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.birthday-section{
    padding: 15px;
}
.btn-class{
    margin-top:8px;
    width: 100%;
    border-color: #f9a826;
    color: #f9a826;
}
.btn-class:hover{
    background-color:  #f9a826;
    color: #fff;
}
.cadre{
    display:flex;
    justify-content:center;
    align-items:center;
}
.recovery{
    font-size:12px;
    margin-top: 8px ;
}
.recovery a{
    color: #f7680a;
    text-decoration:none;
}
.forget_logo{
    width: 30%;
    margin-top: -27px;
    margin-bottom: 10px;
}
.alert{
 
    margin-top:6px;
   
}