.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition:  all 0.5s ease;
    overflow: scroll;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 78px);
    margin-left: 20px;
    padding-bottom: 10px;
    z-index: -1;
}
.sort input{
    padding-left: 10px;
    width: 26%;
    height: 35px;
    border-radius: 4px;
    border: solid #f9a826 1px;
    color: #f9a826;
    margin-right: 3px;
}
::placeholder{
    color: #f9a826;
    font-weight: bold;
}   
.sort > button{
    font-weight: bold;
    width: 15%;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.content{
    width: calc(100% - 500px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 18%;
}
.content-table  td{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content-table{
    border-collapse: collapse;
    min-width: 500px;
    border-radius: 12px;
    overflow: auto; 
    max-height: 100px;
}
.content-table thead tr{
    background-color: #f9a826;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th,.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr{
    
    border-bottom: 1px solid #dddddd;
}
.info{
    text-align: center;
}
.content-table tbody tr td > img{
    width: 30px;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #f9a826 ;
}

.content-table tbody tr td button i{
    cursor: pointer;
    margin-left: 8px;
    
}
.content-table tbody tr td button i:hover{
    color: #f9a826;
}
.content-table tbody tr td button{
    border: none;
    background: none;
    margin-left: 19%;
}
.add_role input{
    text-align: center;
    width: 100%;
    border: none;
    border-bottom:#f9a826 solid 1px;
}
.new{
    position: absolute;
    right: 22;
    font-weight: bold;
    width: 15%;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.modal-body input{
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-weight: 100;
    padding-left: 10px;
    font-size: 15px;
    background-color: white;
    border: #f9a826 solid 1px;
}
.close_button , .close_button1{
    border: none;
    background-color: #f9a826;
    color: white;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
}
.close_button{
    width: 150px;
}
.close_button1{
    width: 100%;
}
.prm{
    margin-top: 10px;
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 30px;
}
.prm input{
   
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#f9a826;
  }
  .alerto{
        border-radius: 5px;
        position: absolute;     
        text-align: center;
        margin-left:29.2% ;
        margin-top: -3%;
        width: 38.7%;
        padding-top: 7px;
        padding-bottom: 7px;
        color: white;
        font-weight: bold;
        font-size: 15px;
  }
  *:active {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}