@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    z-index: 100;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    
    color: white ;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events:  none;
    transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events:  none;
}
.sidebar.active .profile_content .profile{
    background:#1d1b31;
}
.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar.active #btn{
    
    left: 90%;
}
.sidebar #btn:hover{
    background-color: #f9a826;
    color: white;
}
.sidebar.active #btn:hover{
    background:none;
    color: white;
}
.sidebar #btn{
    border-radius: 12px;
    position: absolute;
    color: white;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}
.sidebar ul{
    
    margin-top: 27px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
   
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
  /*  transition: all 0.5s ease;*/
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar ul li .tooltip{
   
    color: white;
    position: absolute;
    left: 69px;
    top: 0;
    transform: translateY(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background-color: #f9a826;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.4s ease;
    top: 15%;
    opacity: 1;
}
.sidebar ul li:hover .nbrNotifications{
   background-color: white;
   color: #f9a826 !important;
   
}
.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    /*transition: all 0.5s ease;*/
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: white;
    background-color: #f9a826;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background:none;
   /* transition:  all 0.5s ease;*/
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_role{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .role{
    font-size: 12px;
}
.profile #log_out{
    position: absolute;
    left: 46%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}
.sidebar.active .profile #log_out{
    left: 88%;
}
.profile_content a{
    color: white;
}
.profile #log_out:hover{
    background-color: #f9a826;
    color: white;
}
  
.sidebar.active #log_out:hover{
    background-color:#11101d;
    color: white;
}

.sidebar.active ~ .home_content{
    width: calc(100% -240px);
    left: 240px;
}
.nbrNotifications{
    color:#f9a826 !important;
    background-color:white;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 78;
}
.notifications{
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 10;
}
.dropdown-toggle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 38px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #f9a826;
    color: white;
}
.dropdown-menu{
    width: 270px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
}
.dropdown-menu ul li{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    max-height: 100px !important;
}
.dropdown-menu ul li img{
    width: 30px !important;
    
}
.dropdown-menu ul p{
    margin-top: 8px;
    margin-left: 8px;
    text-align: left;
}