
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition:  all 0.5s ease;
  
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
table tbody tr:last-of-type{
    border-bottom: 2px solid #f3f3f3 ;
}

::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#f9a826;
  }
textarea:focus, input:focus , button:focus{
    outline: none !important ;
}

.new{
    margin-left: 83%;
    font-weight: bold;
    margin-top: -1%;
    width: 15%;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.modal-body input , .modal-body select{
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-weight: 100;
    padding-left: 10px;
    font-size: 15px;
    background-color: white;
    border: black solid 1px;
    margin-bottom: 15px;
}
.alerto{
    border-radius: 5px;    
    text-align: center;
    margin-left:29.2% ;
    margin-top: -3%;
    width: 38.7%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.modal-body  input[type="checkbox"]{
    margin-left: -45%;
    
    margin-bottom: 20px;
    height: 15px;
    cursor: pointer;
}
.modal-body label{
    color: #f9a826;
    font-weight: bold;
}
.modal-body button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9a826;
    color: white;
    border: none;
}
.modal-body select{
    color: black;
    height: 100px;
}
.modal-body select option{
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 5px;
}
.roleSelect{
    height: 38px  !important;
}
.modal-body p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
}
.close_button1{
    margin-top: 8px;
    border: none;
    background-color: #f9a826;
    color: white;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
textarea:focus, input:focus , select:focus ,button:focus{
    outline: none;
}
.CContent{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.mainC{
    width: 100%;
    overflow-x: hidden;
   
    
 }
 .mainC table thead{
    position: sticky;
    top : 0;
 }
 table{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 .actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .actions button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 85px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background: none;
 }
 .actions a{
    text-decoration: none !important;
 }
 .bn1{
    color: #28a745 !important ;
 }
 .bn2{
    color: #007bff  !important;
 }
 .bn3{
    color: #dc3545 !important;
    background-color: white;
 }
 .bn1:hover{
    background-color: #28a745;
    color: white !important;
 }
 .bn2:hover{
    background-color: #007bff;
    color: white !important;
 }
 .bn3:hover{
    background-color: #dc3545;
    color: white !important;
 }
 .main_content{
    display: flex;
    justify-content: left;
    align-items: center;
 }
 .dataTables_wrapper .paginate_button {
   
    margin-top: 10px;
  }

 .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #e9f4ff;
    border-color: #ffffff;
}