
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition:  all 0.5s ease;
    overflow-y: scroll;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
table tbody tr:last-of-type{
    border-bottom: 2px solid #f3f3f3 ;
}
.sort{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10px;
    z-index: -1;
    
}
.sort input{
    padding-left: 10px;
    width: 41%;
    height: 35px;
    border-radius: 4px;
    border: solid #f9a826 1px;
    color: #f9a826;
    margin-right: 7px;
}
.sort ::placeholder{
    color:#f9a826;
}
.sort > button{
    font-weight: bold;
    width: 13%;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.sort select {
    text-align: center;
    height: 35px;
    width: 150px;
    border-radius: 4px;
    border: solid #f9a826 1px;
    color: #f9a826;
    font-weight: bold;
    margin-right: 7px;
}
.sort select option{
    height: 50px;
}
.sort select option:hover{
    background-color: #f9a826;
    color: white;
}

::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#f9a826;
  }
textarea:focus, input:focus , button:focus{
    outline: none !important ;
}

.new{
    position: absolute;
    right: 22;
    font-weight: bold;
    width: 15%;
    height: 35px;
    background-color: white;
    border: solid #f9a826 1px;
    border-radius: 4px;
    background-color: #f9a826;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.modal-body{
    margin-bottom: -25px;
    padding-bottom: 3%;
}
.modal-body input , .modal-body select{
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-weight: 100;
    padding-left: 10px;
    font-size: 15px;
    background-color: white;
    border: black solid 1px;
    margin-bottom: 15px;
}
.alerto{
    border-radius: 5px;    
    text-align: center;
    margin-left:29.2% ;
    margin-top: -3%;
    width: 38.7%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.modal-body  input[type="checkbox"]{
    margin-left: -45%;
    
    margin-bottom: 20px;
    height: 15px;
    cursor: pointer;
}
.modal-body label{
    color: #f9a826;
    font-weight: bold;
}
.modal-body button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9a826;
    color: white;
    border: none;
}
.modal-body select{
    color: black;
    height: 100px;
}
.modal-body select option{
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 5px;
}
.roleSelect{
    height: 38px  !important;
}
.modal-body p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
}
.close_button1{
    margin-top: 8px;
    border: none;
    background-color: #f9a826;
    color: white;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
textarea:focus, input:focus , select:focus ,button:focus{
    outline: none;
}
.mainC{
  
    height: 75%;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .mainC{
    overflow-y: scroll !important; 
 }
 .actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .actions button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background: none;
  
 }
 
 .actions a{
    text-decoration: none !important;
 }
 .bn1{
    color: #28a745;
 }
 .bn2{
    color: #007bff;
 }
 .bn3{
    color: #dc3545;
 }
 .bn1:hover{
    background-color: #28a745;
    color: white;
 }
 .bn2:hover{
    background-color: #007bff;
    color: white;
 }
 .bn3:hover{
    background-color: #dc3545;
    color: white;
 }