.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition:  all 0.5s ease;
    overflow-y: scroll;
}
.card-block{
   padding-top: 40%;
  
}
.back{
   position: absolute;
   color: white;
   top: 5;
   left: 5;
}
.back a{
   color: white;
   text-decoration: none;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.container{
   margin-top:-4%;
}

.rounded-right{
   box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 3px, rgba(0, 0, 0, 0.24) 0px 0px 2px;
   max-height: 500px;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background:#f9a826;
}


.desc{
   /* border: 1px solid black; */
   box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 3px, rgba(0, 0, 0, 0.24) 0px 0px 2px;
   border-radius: 5px;
   background: white;
}

.desc-title{
   font-size: 14px;
   float: left;
   font-weight: 600;
}

.img-prod{
   /* border: 1px solid black; */
   border-radius: 10px;
   /* background: transparent; */
}