<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="https://www.circet.ma/maroc/_processed_/0/6/csm_Logo_CIRCET_Morocco_cmjn_sur_fond_perturbe-removebg-preview_188da28ec7.png">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
              
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
           
        {% endblock %}
    </body>
</html>
